
@font-face {
    font-family: "正方楷体";
    src: url("fonts/FZKTJW.TTF");
}

@font-face {
    font-family: "智勇手写体";
    src: url("fonts/ZhiyongElegant.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "智勇手写体", "正方楷体", Arial, Helvetica, sans-serif;
    color: rgb(250, 235, 215);
}

a, a:visited, p, h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    decoration: none;
    color: rgb(250, 235, 215);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.background_container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: gray(1);

    filter: grayscale(100%);
}

#main .top {
    align-self: flex-start;
    justify-self: center;
    margin-top: 10px;
}

#main .center {
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

#main_box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    width: 60vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header_text {
    font-size: 4em;
}

#small_text {
    font-size: 1.4em;
    font-weight: 100;
    color: rgba(250, 235, 215, .6);
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

#countdown_text {
    font-size: 3em;
}
